.card-div {
  background-color: hsl(216, 50%, 16%);
  width: 350px;
  height: 590px;
  margin: auto;
  border-radius: 1rem;
}

.nft-img {
  border-radius: 0.5rem;
  display: block;
}

.ethereum-p {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.clock-p {
  text-align: right;
}

.icon {
  float: left;
  margin-top: 0.3rem;
  margin-right: 0.1rem;
}

.col-5 {
  width: 9rem;
}

.clock-div {
  padding-left: 1.7rem;
}

.avatar-img {
  border-color: white;
  border-style: solid;
  float: left;
}

.avatar-p {
  padding-top: 0.1rem;
}

.nft-div {
  position: relative;
}

.view-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.view-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: hsl(178, 100%, 50%);
  border-radius: 0.5rem;
}
